# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
venv/

# OS
.DS_Store

# Output
out/
tmp/

# Editor
.idea/
.vscode/

# generated media
app/manim_charts/media
